<nav>
  <ul class="nav-lang">
    {% for lang in site.languages %}
    <li id="lang" class="lang-item">
      <a
        class="lang-link {% if lang == site.active_lang %}active{% endif %}"
        href="{% if lang == site.default_lang %} {{site.baseurl}}{{page.url}} {% else %} {{site.baseurl}}/{{ lang }}{{page.url}} {% endif %}"
      >
        {{ lang }}
      </a>
      <a href="#" class="track-click">여기 클릭 test</a>
    </li>
    {% endfor %}
  </ul>
</nav>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    document.querySelectorAll('a.track-click').forEach((link) => {
      link.addEventListener('click', function () {
        gtag('event', 'click', {
          event_category: 'engagement',
          event_label: this.href,
        });
      });
    });
  });
</script>
